body{
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}

.footer{
	margin-bottom: auto;
	margin-top: auto;
}

#loginframe{

}

.topnav {
	width: 350px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.topnav a {
    color: #ff9800;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover {
    color: black;
}


.active {
    color: black;
}

#drop_selec{
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
}

.business{
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

#registration{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
